.header{
    display: flex;
    justify-content:space-between;
    padding: 16px;
    background-color: #1F2937;
    color: #F9FAF8;
    
}
.header a, .logo {
    padding-right: 16px;
    color: #F9FAF8;
    text-decoration: none;
}
.header .logo{
    font-weight: bold;
}
.header a:hover , .logo{
    background-color:#1f2733;
    color: rgb(155, 148, 148);
}