body {
    margin: 0;
    padding:0;
 }
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    height: 50px;
    width: 100%;
}
.logo{
    font-size: 24px;
}
.links a{
    padding-right: 6px;
}

.header a{
    color: #F9FAF8;
    text-decoration: none;
}
img{
    width: 400px;
    height: auto;

}
.media {
    display: flex;
    justify-content: space-evenly;
    padding:30px;
   
}
.media.flipped{
    background-color: #1F2937;

}
.content h1{
    font-size: 48px;
    color: #F9FAF8;
}
.content p{
    font-size: 18px;
    color: #E5E7EB;
}
.SignUp{
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 16px;
    border: none;
    padding: 8px 32px;
    border-radius: 12px;
}
.footer{
    text-align: center;
    padding: 5px;
    background-color: #1F2937;
    color: #E5E7EB;
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
}